# Node / React frontend
Frontend/node_modules/
Frontend/.env
Frontend/build/

# Python / Django backend
Backend/__pycache__/
Backend/*.pyc
Backend/.env
Backend/db.sqlite3  # If you have a local DB file
Backend/media/      # Optional: if you don’t want to upload uploaded files
Backend/staticfiles/ # Optional: generated static files

# General
.DS_Store
.env